[package]
name = "accudo-executor-types"
description = "Accudo executor interface types"
version = "0.1.0"

# Workspace inherited keys
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

[dependencies]
anyhow = { workspace = true }
accudo-crypto = { workspace = true }
accudo-drop-helper = { workspace = true }
accudo-infallible = { workspace = true }
accudo-metrics-core = { workspace = true }
accudo-scratchpad = { workspace = true }
accudo-secure-net = { workspace = true }
accudo-storage-interface = { workspace = true }
accudo-types = { workspace = true }
bcs = { workspace = true }
criterion = { workspace = true }
derive_more = { workspace = true }
itertools = { workspace = true }
once_cell = { workspace = true }
ouroboros = { workspace = true }
rayon = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
accudo-types = { workspace = true, features = ["fuzzing", "testing"] }

[features]
default = []
fuzzing = ["accudo-crypto/fuzzing", "accudo-types/fuzzing"]
bench = []

[[bench]]
name = "default"
harness = false
