[package]
name = "accudo-accumulator"
description = "Accudo merkle tree accumulator"
version = "0.1.0"

# Workspace inherited keys
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

[dependencies]
anyhow = { workspace = true }
accudo-crypto = { workspace = true }
accudo-types = { workspace = true }
proptest = { workspace = true, optional = true }

[dev-dependencies]
accudo-crypto = { workspace = true, features = ["fuzzing"] }
proptest = { workspace = true }
rand = { workspace = true }

[features]
default = []
fuzzing = ["proptest", "accudo-crypto/fuzzing", "accudo-types/fuzzing"]
