[package]
name = "accudo-vault-client"
description = "Accudo's Restful Vault Client"
version = "0.1.0"

# Workspace inherited keys
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

[dependencies]
accudo-crypto = { workspace = true }
accudo-types = { workspace = true, optional = true }
base64 = { workspace = true }
chrono = { workspace = true }
native-tls = { workspace = true }
once_cell = { workspace = true }
proptest = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
ureq = { workspace = true }

[dev-dependencies]
accudo-proptest-helpers = { workspace = true }
accudo-types = { workspace = true, features = ["fuzzing"] }
proptest = { workspace = true }

[features]
fuzzing = ["proptest", "accudo-types", "accudo-types/fuzzing"]
